extends layout

block styles
    link(rel="stylesheet" href="/stylesheets/posts.css")

block content
    section
        h1 Posts
        for post in post_list
            article(class="post")
                div(class="post__image-container")
                    if post.user.avatar === "elmo"
                        img(class="post__image" src=`/images/${post.user.avatar}.webp`)
                    else if post.user.avatar === "jerry"
                        img(class="post__image" src=`/images/${post.user.avatar}.webp`)
                    else if post.user.avatar === "peppa"
                        img(class="post__image" src=`/images/${post.user.avatar}.webp`)
                    else if post.user.avatar === "roblox"
                        img(class="post__image" src=`/images/roblox.png`)
                    else if post.user.avatar === "shrek"
                        img(class="post__image" src=`/images/${post.user.avatar}.webp`)
                    else if post.user.avatar === "optimistic"
                div(class="post__container")
                    h3(class="post__title") #{post.title}
                    div(class="post__details")
                        if membershipStatus
                            span(class="post__author") by #{post.user.firstName} #{post.user.lastName}
                            p(class="post__content") about
                                span(class="post__date")=post.timestamp
                        else
                            span(class="post__author") by #[strong Anonymous]
                            p(class="post__content") Date:
                                span(class="post__date") Hidden
                    p(class="post__content") #{post.content}
                    if admin
                        a(class="post__link post__link--delete" href=`${post.url}/delete`) Delete Post