extends layout

block styles
    link(rel="stylesheet", href="/stylesheets/detail.css")

block content
    section
        article(class="post")
            h3(class="post__title") #{post.title}
            div(class="post__details")
                span(class="post__author") by #{post.user.firstName} #{post.user.lastName}
                span(class="post__date") about #{post.timestamp}
            p(class="post__content") #{post.content}
            div(class="post__links")
                a(class="post__link post__link--edit") Edit Post
                a(class="post__link post__link--delete") Delete Post