extends layout

block styles
    link(rel="stylesheet" href="/stylesheets/posts.css")

block content
    section
        h1 Posts
        for post in post_list
            article(class="post-excerpt")
                h3(class="post-excerpt__title") #{post.title}
                div(class="post-excerpt__details")
                    if membershipStatus
                        span(class="post-excerpt__author") by #{post.user.firstName} #{post.user.lastName}
                        span(class="post-excerpt__date") about #{post.timestamp}
                p(class="post-excerpt__content") #{post.content}
                a(class="post-excerpt__link" href=post.url) View Post